body{
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}
input::placeholder
{
    font-family: 'Acme', sans-serif;
}
.headerRow{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#colContainer{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: flex-start; 
    flex-shrink: 1;
    flex-wrap: wrap;
    height: 170px;
    margin-top: 2em;
}   
.col{
    height:1em;
    display: flex; 
    flex-direction: column;
}
.rgbInput{
 padding-top: 20px;
 height: 20px;
 order:2
}

h1{
    font-size: 1em;
}
.valuesContainer{
    padding-top: 1em;
    display: flex;
    gap: 1em;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

@media all and (max-width: 600px) {
.rgbInput{
    order: 3;
}
}